.App {
  text-align: center;
}

.btn {
  display: block;
  background: #000;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  padding: 20px 50px;
  border-width: 0.2em;
  border-radius: 0.5em;
  border-color: rgb(255, 119, 0);
  flex: 1;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.limit {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
}

.client-thumb {
  max-height: 100%;
  line-height: 0;
  overflow: hidden;
}

.client-grid-item {
  background-color: #000000;
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  height: 150px;
}

.client-grid-container {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  width: fit-content;
}
